annotated-types
anyio
aspose-words
beautifulsoup4
bs4
cachetools
certifi
charset-normalizer
click
dnspython
email-validator
exceptiongroup
fastapi
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
h11
httpcore
httplib2
httptools
httpx
idna
iniconfig
itsdangerous
Jinja2
MarkupSafe
orjson
packaging
pluggy
protobuf
pyasn1
pyasn1-modules
pydantic
pydantic-core
pymongo
pyparsing
pypdf2
pytest
python-dotenv
python-multipart
PyYAML
requests
rsa
six
sniffio
soupsieve
starlette>=0.29.0
tomli
tqdm
typing-extensions
ujson
uritemplate
urllib3
uvicorn
watchfiles
websockets
llama_index